@model IEnumerable<PetZen.Models.AdministrationModels.AdministrationListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Administrations List</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdminId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dosage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoseMeasure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Default)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdminId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dosage)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.DoseMeasure)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Default)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AdminId }) |
                @Html.ActionLink("Details", "Details", new { id = item.AdminId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AdminId })
            </td>
        </tr>
    }

</table>
